services:
  networktools-myst:
    image: mysteriumnetwork/myst:latest
    container_name: networktools-myst
    cap_add:
      - NET_ADMIN
    restart: always
    volumes:
      - ./networktools-myst:/var/lib/mysterium-node
    command: >
      service --agreed-terms-and-conditions
    network_mode: "host"

  networktools-hg:
    image: honeygain/honeygain
    container_name: networktools-hg
    restart: always
    command: >
      -tou-accept
      -email ${HG_EMAIL}
      -pass ${HG_PASSWORD}
      -device ${HG_DEVICE}
    network_mode: "host"

  networktools-tm:
    image: traffmonetizer/cli_v2:arm64v8 # replace with latest tag for x86_64
    container_name: networktools-tm
    command: >
      start accept --token ${TM_TOKEN} --device-name ${TM_DEVICE}
    restart: always
    network_mode: "host"
